ipykernel
ipywidgets
tqdm
matplotlib
mplcursors
scipy
scikit-learn
umap-learn
arxiv
PyMuPDF
ollama
nltk
transformers
accelerate
torch
torchvision
torchaudio
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126
elasticsearch
flask
flask-cors
shapely